.chatContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
}

.chatContainer__chats {
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

.chatContainer__sendMessage {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.chatContainer__chat {
    margin-top: 10px;
    width: fit-content;
    max-width: 70vw;
    display: flex;
    align-items: center;
    padding: 10px;
}

.chatContainer__chat img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.chatContainer__chat>div {
    margin-left: 5px;
    background-color: rgb(225, 229, 255);
    padding: 10px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

.chatContainer b {
    font-size: 17px;
    font-weight: 700;
}

.chatContainer p {
    font-size: 17px;
}

.chatContainer__sendMessage>input {
    flex: 1;
    font-size: 21px;
    padding: 7px 13px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgb(208, 225, 255);
    border: 2px solid rgb(160, 201, 255);
    color: rgb(21, 21, 21);
}

.myMessages {
    margin-top: 10px;
    width: 98.5vw;
    display: flex;
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.myMessages>img {
    order: 1;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.myMessages>div {
    margin-right: 5px;
    max-width: 70vw;
    background-color: rgb(225, 229, 255);
    padding: 10px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

.chatLeft {
    min-width: 97vw !important;
    text-align: center;
    font-weight: 700;
}